/* add code here to make your image 300px square */

img {
  height: 300px;
  width: 300px;
}

/* add code here to change the color and font family of your name/title */
h1 {
  font-family: "courier new";
  color: #a9afb8;
  text-shadow: 2px 2px 5px #395896;
  font-size: 100px;
}


/* Bonus: change the color of your list elements */

ol li {
 color: #6790e0;
  padding: 1px
}




body {
  text-align:center
}

div {
  text-align:center

}